body {
	font-family: Georgia, 'Times New Roman', Times, serif;
}
* {
	margin: 0px;
	padding: 0px;
}
ul {
	list-style-type: none;
}
a {
	text-decoration: none;
}
.body-container {
	margin: 0px auto;
	width: 500px;
	border: 1px solid #0033ff;
	padding-bottom: 10px;
}
.player-profile {
	margin-top: 2px;
}
.title {
	font-weight: bold;
}
.title.title-player {
	display: block;
	background: url('../image/title_bg.gif') repeat-x;
}
.title.title-your-comment {
	text-align: center;
}
.player-avatar {
	display: inline-block;
}
.player-avatar img {
	margin-bottom: 15px;
	max-width: 100px;
	max-height: 100px;
}
.player-info {
	overflow: scroll;
	display: inline-block;
	height: 100px;
	width: 395px;
}
.facts {
	margin: 5px 0px 10px 5px;
}
.facts ul {
	margin: 15px;
	padding-left: 20px;
}
.comment {
	display: block;
	margin-top: 20px;
}
.comment-info {
	background-color: #ECECEC;
	padding: 2px 0px 4px 4px;
}
.comment-info-post {
	font-size: 13px;
	background: url('../image/comment_bt.gif') no-repeat top left;
	padding-left:46px;
	margin-left:20px;
}
.your-comment {
	margin-top: 20px;
	display: block;
}
.your-comment-row {
	display: table;
	padding: 1px;
	margin: 1px;
}
.your-comment-left {
	display: table-cell;
	width: 125px;
	padding-left: 3px;
	margin-top: 2px;
	vertical-align: middle;
}
.your-comment-right {
	display: table-cell;
}
.your-comment-right textarea {
	margin-top: 2px;
	width: 360px;
	height: 100px;
}
.input-comment {
	width: 123px;
	margin-top: 5px;
	height: 20px;
}