.table-calendar {
	text-align: center;
}
.table-calendar tr {
	background: rgba(255, 110, 180, 0.6);
}
.table-calendar td {
	width: 50px;
	height: 25px;
	cursor: pointer;
	border: 1px solid pink;
}
.table-calendar td:hover {
	border: 1px solid red;
}
.table-calendar select {
	height: 30px;
	color: blue;
	font-weight: bold;
}
.table-calendar {
	display: none;
}
.weekdays {
	font-size: 15pt;
	font-weight: bold;
	color: blue;
	background: rgba(255, 110, 180, 0.8);
}
.weekdays td:hover {
	border: 1px solid pink !important;
}
.control {
	font-size: 17pt;
	font-weight: bold;
}
.control td:hover {
	color: white;
	background: rgba(255, 110, 180, 0.9);
}
.white {
	background-color: white;
}
.space:hover{
	border: 1px solid pink !important;
}
.active {
	background-color: red;
}