body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
* {
	margin: 0;
	padding: 0;
}
ul {
	list-style-type: none;
}
.body-container {
	margin: 0px auto;
	width: 1300px;
	background-color: #2D2F35;
	color: #FFF;
	font-size: 10pt;
}
.header-logo {
	color: #2d2f35;
	border-bottom: 1px solid #474A51;
}
.banner {
	width: 1300px;
	border-bottom: 1px solid #474A51;
	float: left;
	position: relative;
	background: url('../image/bg_home_intro.gif') repeat bottom;
}
.banner-left {
	float: left;
	padding: 1px 20px 50px 120px;
	margin: 4px;
}
h3,
h4,
h5 {
	font-family: monospace !important;
	font-size: 19pt;
	font-weight: normal;
	color: yellow;
	margin-bottom: 15px;
}
h5 {
	font-size: 18pt; !important;
}
.banner-left p {
	width: 420px;
}
.banner-right {
	float: left;
	position: absolute;
	bottom: -2px;
	right: 90px;
}
.clear {
	clear: both;
}
.list-feature {
	float: left;
	margin: 40px 0 20px 12px;
}
.list-feature ul {
	margin: 0 auto;
	padding-left: 148px;
}
.list-feature li {
	float: left;
	position: relative;
	margin-left: 15px;
}
.top-right {
	position: absolute;
	top: 1px;
	right: 2px;
}
.contact {
	border-top: 1px solid #474A51;
	padding: 3px 0px 1px 0px;
	margin: 0px auto;
}
.contact-col {
	width: 425px;
	height: 440px;
	float: left;
	margin: 10px 40px 2px 120px;
	text-align: justify;
}
.contact-left {
	    background: url(../image/home_services_bg_design.gif) 98% 92% no-repeat;
}
.contact-right {
	background: url('../image/home_services_bg_marketing.gif') 1% 2% no-repeat; ;
}
.footer {
	background: #24262A url("../image/bg_footer.gif") no-repeat center;
	border: 1px solid #474A51;
	text-align: center;
	padding-bottom: 100px; 
	margin-top: 8px;
}