.container {
	margin: 0 auto;
	width: 300px;
	text-align: center;
	color: pink;
}
.wrap {
	position: relative;
}
.image {
	position: relative;
	width: 300px;
	height: 400px;
	float: left;
	margin-bottom: 20px;
	border: 1px solid pink;
}
.image-slider {
	display: none;
	float: left;
}
.image-slider img {
	max-width: 300px;
	max-height: 400px;
}
.prev,.next {
	position: absolute;
	width: 50px;
	height: 50px;
	background-color: #f3f3f3;
	border: 1px solid white;
	border-radius: 30px;
	text-align: center;
	vertical-align: middle;
	font-family: Arial;
	font-size: 30pt;
	font-weight: bold;
}
.prev {
	left: -60px;
	top: 100px;
}
.next {
	right: -60px;
	top: 100px;
}
.dot{
	width: 300px;
	margin: 0 auto;
	text-align: center;
	padding-left: 10px;
}
.image-mini {
	float: left;
	margin: 0px 10px 0px 10px;
	border-radius: 70px;
	opacity: 0.4;
}
.image-mini:hover {
	opacity: 0.8;
}
.image-mini img {
	border: 1px solid pink;
	border-radius: 100px;
	max-width: 100px;
	max-height: 100px;
}
.effect {
	opacity: 1 !important; 
	animation-name: example;
    animation-duration: 1s;
}
@keyframes example {
    20%  {opacity: 0.5;}
    100% {opacity: 1;}
}
.animate-top {
	position:relative;
	animation:animatetop 0.4s;
}
@keyframes animatetop {
	from{top:-300px;opacity:0}
	to{top:0;opacity:1}
}